body {
    font-family: 'Poppins', sans-serif;
    background: rgb(0, 0, 0);
    color: #fff;
    line-height: 1.6;
    overflow-x: hidden;
}

/* Banner */
.banner {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    position: relative;
    background-image: url('images/banner.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.banner-img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    margin: 0;
    padding: 0;
    min-height: 300px;

}

/* Section Titles */
.section-title {
    text-align: center;
    margin: 50px 0;
    font-size: 40px;
    font-family: 'Poppins', sans-serif;
    color: #fff;
}

/* Grid Section */
.grid-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 60px 20px;
    background-color: #000000;
}

.grid {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    max-width: 1200px;
    margin: 0 auto;
}

.grid-item {
    flex: 1 1 calc(33.33% - 20px);
    /* Tres elementos por fila */
    box-sizing: border-box;
    text-align: center;
    padding: 20px;
    background-color: #111;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.grid-item:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 15px rgba(255, 255, 255, 0.3);
}

.grid-item img {
    max-width: 100%;
    height: auto;
    margin-bottom: 15px;
    border-radius: 8px;
}

.grid-item h3 {
    font-size: 1.5em;
    margin-bottom: 10px;
    color: #fff;
}

.grid-item p {
    font-size: 1em;
    color: #ddd;
}

/* Estilo responsivo */
@media screen and (max-width: 768px) {
    .grid-item {
        flex: 1 1 calc(50% - 20px);
        /* Dos elementos por fila */
    }
}

@media screen and (max-width: 480px) {
    .grid-item {
        flex: 1 1 100%;
        /* Un elemento por fila */
    }
}

/* Long Grid Item */
.long-grid-item {
    flex: 1 1 100%;
    /* Ocupa todo el ancho disponible */
    box-sizing: border-box;
    text-align: center;
    padding: 20px;
    background-color: #111;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    margin: 20px 0;
    /* Espacio superior e inferior */
}

.long-grid-item:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 15px rgba(255, 255, 255, 0.3);
}

.long-grid-item h2 {
    font-size: 2em;
    margin-bottom: 10px;
    color: #fff;
}

.long-grid-item p {
    font-size: 1.2em;
    color: #ddd;
}



/* Estilo responsivo */
@media screen and (max-width: 768px) {

    .grid-item,
    .long-grid-item {
        flex: 1 1 100%;
        /* Un elemento por fila */
    }
}

.cta-section {
    background-color: #f2f2f2;
    color: #000000;
    text-align: center;
    padding: 60px 20px;
    margin-top: 30px;
    margin-bottom: 00px;
}

.cta-section h2 {
    font-size: 36px;
    margin-bottom: 0px;
    margin-top: 10px;
}

.cta-section p {
    font-size: 18px;
    margin-bottom: 20px;
}

.cta-button:hover {
    background-color: #000000;
}

footer {
    background-color: #f2f2f2;
    color: #000000;
    padding: 10px 20px;
    text-align: center;
    font-size: 14px;
    margin-top: 00px;
}

footer a {
    color: #000000;
    text-decoration: none;
    background-color: #f2f2f2;
}

footer a:hover {
    text-decoration: underline;
}

.image-container {
    text-align: center;
    margin: 0px 0;
}

.image-container img {
    max-width: 100%;
    height: auto;
}